<ion-header>
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content >
      <ion-button  color="verdePastel" expand="full" (click)="AltasIr()" fill="outline"><h1>Altas</h1> </ion-button>
      <ion-button  color="rojoPastel" expand="full" (click)="BajasIr()" fill="outline"><h1>Bajas</h1></ion-button>
      <ion-button  color="amarilloPastel" expand="full" (click)="SuspencionesIr()" fill="outline"><h1>Suspenciones</h1></ion-button>
</ion-content>


