
<link  href="/path/to/picker.css" rel="stylesheet">
<script src="/path/to/picker.js"></script>

<ion-header>
  <ion-toolbar>
    <ion-title>Variaciones en el empleo</ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
    <h1 text-center>Altas</h1>
    <ion-list>
      <form #form="ngForm" (ngSubmit)="saveData(form)" novalidate>
          <ion-item>
              <ion-label>Fecha de suceso:</ion-label>
                <ion-datetime   okText="Aceptar" cancelText="Cancelar" [(ngModel)]="altas.fecha"  name="fecha" display-format="DD/MM/YYYY" picker-format="DDDD MMMM YYYY" 
                monthNames="ene,feb,mar,abr,may,jun,jul,ago,sep,oct,nov,dic"
                monthShortNames="enero,febrero,marzo,abril,mayo,junio,julio,agosto,septiembre,octubre,noviembre,diciembre"
                doneText="aceptar"
                cancelText="Cancelar"
                max ="2020"></ion-datetime>
            </ion-item>  
        <ion-item>
         <ion-label>Contrato</ion-label>
         <ion-select [(ngModel)]="altas.contrato" interface="action-sheet" class ="custom-font-size" name="contrato" value="Directos/as" okText="ACEPTAR" cancelText="CANCELAR">
          <ion-select-option value="Directo">Directos/as</ion-select-option>
           <ion-select-option value="Subcontratado">Subcontratados/as</ion-select-option>
           <ion-select-option value="Pasantía o Beca">Pasantía o beca</ion-select-option>
           <ion-select-option value="Monotributista">Monotributista</ion-select-option>
           <ion-select-option value="Subvencionado">Subvencionados/as</ion-select-option>
           <ion-select-option value="Contrato temporario">Contrato temporario</ion-select-option>
           <ion-select-option value="Por agencia">Por agencia</ion-select-option>
           <ion-select-option value="Persona con discapacidad">Persona con discapacidad</ion-select-option>
           <ion-select-option value="No registrados">No registrados</ion-select-option>
           <ion-select-option value="Otro">Otro</ion-select-option>

         </ion-select>
       </ion-item>
             <ion-item>
        <ion-label>Cantidad</ion-label>
        <ion-input [(ngModel)]="altas.cantidad" name="cantidad"  cancelText="Dismiss" type="number" ></ion-input>
      </ion-item>
         <ion-radio-group [(ngModel)]="altas.tipoIngreso" name="tipoIngreso" >
           <hr>
            <ion-list-header>
             <p>Tipo de ingreso:</p> 
            </ion-list-header>
         
            <ion-item>
              <ion-label>Incorporación</ion-label>
              <ion-radio value="Incorporacion"></ion-radio>
            </ion-item>
      
            <ion-item>
              <ion-label>Reincorporación</ion-label>
              <ion-radio value="Reincorporacion"></ion-radio>
            </ion-item>
          </ion-radio-group>
         <ion-item>
            <ion-label class="alto" position="floating">Descripción</ion-label>
            <ion-textarea [(ngModel)]="altas.observacion" name = "observacion" ></ion-textarea>
          </ion-item>
  
          <ion-button  color="green" expand="block"  fill="outline" type="submit" >Confirmar</ion-button>
        </form>
    </ion-list>
    
</ion-content>
