<ion-header>
  <ion-toolbar>
    <ion-title>Variaciones en el empleo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 text-center>Bajas</h1>
  <ion-list>
    <form #form="ngForm" (ngSubmit)="saveData(form)" novalidate>
      <ion-item>
        <ion-label>Fecha de suceso:</ion-label>
        <ion-datetime [(ngModel)]="bajas.fecha" name="fecha" display-format="DD/MM/YYYY" picker-format="DDDD MMMM YYYY">
        </ion-datetime>
      </ion-item>
     
        <ion-item>
          <ion-label>Contrato</ion-label>
          <ion-select [(ngModel)]="bajas.contrato" name="contrato" value="Directos/as" okText="Okay"
            cancelText="Dismiss">
            <ion-select-option value="Sub contratados/as">Sub contratados/as</ion-select-option>
            <ion-select-option value="Pasantia/Beca">Pasantia/Beca</ion-select-option>
            <ion-select-option value="Monotributistas">Monotributistas</ion-select-option>
            <ion-select-option value="Subvencionados/as">Subvencionados/as</ion-select-option>
            <ion-select-option value="Temporarios/as">Temporarios/as</ion-select-option>
            <ion-select-option value="Terciarizados/as">Terciarizados/as</ion-select-option>
            <ion-select-option value="Por agencia">Por agencia</ion-select-option>
            <ion-select-option value="Personas con discapacidad">Personas con discapacidad</ion-select-option>
            <ion-select-option value="En negro">En negro</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>Cantidad</ion-label>
          <ion-input type="number" [(ngModel)]="bajas.cantidad" name="cantidad" cancelText="Dismiss"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Motivo</ion-label>
          <ion-select [(ngModel)]="bajas.motivo" name="motivo" value="Despido"  okText="Aceptar" cancelText="Cancelar">
            <ion-select-option value="Despido">Despido</ion-select-option>
            <ion-select-option value="Renuncia">Renuncia</ion-select-option>
            <ion-select-option value="Retiro voluntario">Retiro voluntario</ion-select-option>
            <ion-select-option value="Finalizacion contrato">Finalizacion contrato</ion-select-option>
            <ion-select-option value="Jubilacion">Jubilacion</ion-select-option>
            <ion-select-option value="Desafiliacion">Desafiliacion</ion-select-option>
            <ion-select-option value="Otro">Otro</ion-select-option>
          </ion-select>
        </ion-item>


        <ion-item>
          <ion-label class="alto" position="floating">Observaciones</ion-label>
          <ion-textarea [(ngModel)]="bajas.observacion" name="observacion"></ion-textarea>
        </ion-item>

        <ion-button expand="block" color="danger" fill="outline" type="submit">Confirmar</ion-button>


    </form>
  </ion-list>


</ion-content>