ion-card{
	height: 33%;
	text-align: center;
	align-content: center;
	align-self: center;
	img{
		@media screen and (min-width:600px) {
			width:  15%;
			height:  15%;
		  }
		  @media screen and (min-width:800px) {
			width:  7%;
			height:  7%;
		  }
	  width:  24%;
	  height:  24%;
	}
}
.centrado{
	margin-left: auto;
	margin-right: auto;
	display: block;

}

ion-card-title{
	font-size: 100%;
	margin-bottom: 0% !important;
}



