<ion-header>
  <ion-toolbar>
    <ion-title>Herramienta Sindical</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-header>
          <div text-center algin-center class="centrado">
          <img algin-center class="centrado" src="../../assets/img/cambios.png">
        </div>
          <ion-card-title>Variaciones en el empleo</ion-card-title>
        </ion-card-header>
    
        <ion-button fill="outline" expand="block" (click)="VariacionesIr()" >explorar</ion-button>
      </ion-card>
  <ion-card>
    <ion-card-header>
      <img algin-center class="centrado" src="../../assets/img/conflicto.png">
      <ion-card-title>Conflictos laborales</ion-card-title>
    </ion-card-header>

    <ion-button fill="outline" expand="block" (click)="ConflictosIr()" >explorar</ion-button>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <img algin-center class="centrado" src="../../assets/img/variaciones.png">
      <ion-card-title>Cambios en condiciones laborales</ion-card-title>
    </ion-card-header>
    <ion-button fill="outline" expand="block" (click)="CambiosIr()" >explorar</ion-button>
  </ion-card>
  