ion-card{
	text-align: center;
	align-content: center;
	align-self: center;
	img{
	  max-width: 150px;
	  max-height: 150px;
	}
}
.centrado{
	margin-left: auto;
	margin-right: auto;
	display: block;

}